section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

section h2 {
    margin-bottom: 10px;
}

section p {
    margin-bottom: 5px;
}

a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    color: #007bff;
}
