<h2>Payment Details</h2>

<table>
  <thead>
    <tr>
      <th>Month</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Fine</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="months.length > 0; else noPayments">
      <tr *ngFor="let month of months">
        <ng-container *ngIf="getPaymentsByMonth(month).length > 0; else noPaymentsForMonth">
          <td [attr.rowspan]="getPaymentsByMonth(month).length">{{ month }}</td>
          <td>{{ getPaymentsByMonth(month)[0].date }}</td>
          <td>{{ getTotalAmount(getPaymentsByMonth(month)) }}</td>
          <td>{{ getPaymentStatus(getPaymentsByMonth(month)) }}</td>
          <td>{{ getFine(getPaymentsByMonth(month)) }}</td>
        </ng-container>
      </tr>
    </ng-container>
    <ng-template #noPayments>
      <tr>
        <td colspan="5">No payments available</td>
      </tr>
    </ng-template>
    <ng-template #noPaymentsForMonth>
      <td colspan="4">No payments available for this month</td>
    </ng-template>
  </tbody>
</table>
